<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="keywords" content="">
<meta name="author" content="">
<meta name="robots" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
<meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
<meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
<meta property="og:image" content="https:/fillow.dexignlab.com/xhtml/social-image.png">
<meta name="format-detection" content="telephone=no">

<!-- PAGE TITLE HERE -->
<title>Admin Dashboard</title>

<!-- FAVICONS ICON -->
<link rel="shortcut icon" type="image/png" href="images/favicon.png">
<link href="/vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
<link href="/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
<link rel="stylesheet" href="/vendor/nouislider/nouislider.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
<link href="vendor/datatables/css/jquery.dataTables.min.css" rel="stylesheet">

 <!-- Daterange picker -->
 <link href="vendor/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
 <!-- Clockpicker -->
 <link href="vendor/clockpicker/css/bootstrap-clockpicker.min.css" rel="stylesheet">
 <!-- asColorpicker -->
 <link href="vendor/jquery-asColorPicker/css/asColorPicker.min.css" rel="stylesheet">
 <!-- Material color picker -->
 <link href="vendor/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" rel="stylesheet">

 <!-- Pick date -->
 <link rel="stylesheet" href="vendor/pickadate/themes/default.css">
 <link rel="stylesheet" href="vendor/pickadate/themes/default.date.css">
 <link href="../icon.css?family=Material+Icons" rel="stylesheet">

<!-- Style css -->
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="css/style-page.css">
<link href="/css/style-1.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

