<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" id="menu">
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-home"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/">Dashboard Light</a></li>
                    <li><a href="/index-2">Dashboard Dark</a></li>
                    <li><a href="/project-page">Project</a></li>
                    <li><a href="/contacts">Contacts</a></li>
                    <li><a href="/kanban">Kanban</a></li>
                    <li><a href="/calendar-page">Calendar</a></li>
                    <li><a href="/message">Messages</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-info-circle"></i>
                    <span class="nav-text">Apps</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/app-profile">Profile</a></li>
                    <li><a href="/post-details">Post Details</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Email</a>
                        <ul aria-expanded="false">
                            <li><a href="/email-compose">Compose</a></li>
                            <li><a href="/email-inbox">Inbox</a></li>
                            <li><a href="/email-read">Read</a></li>
                        </ul>
                    </li>
                    <li><a href="/app-calender">Calendar</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Shop</a>
                        <ul aria-expanded="false">
                            <li><a href="/ecom-product-grid">Product Grid</a></li>
                            <li><a href="/ecom-product-list">Product List</a></li>
                            <li><a href="/ecom-product-detail">Product Details</a></li>
                            <li><a href="/ecom-product-order">Order</a></li>
                            <li><a href="/ecom-checkout">Checkout</a></li>
                            <li><a href="/ecom-invoice">Invoice</a></li>
                            <li><a href="/ecom-customers">Customers</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-text">Charts</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/chart-flot">Flot</a></li>
                    <li><a href="/chart-morris">Morris</a></li>
                    <li><a href="/chart-chartjs">Chartjs</a></li>
                    <li><a href="/chart-chartist">Chartist</a></li>
                    <li><a href="/chart-sparkline">Sparkline</a></li>
                    <li><a href="/chart-peity">Peity</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fab fa-bootstrap"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/ui-accordion">Accordion</a></li>
                    <li><a href="/ui-alert">Alert</a></li>
                    <li><a href="/ui-badge">Badge</a></li>
                    <li><a href="/ui-button">Button</a></li>
                    <li><a href="/ui-modal">Modal</a></li>
                    <li><a href="/ui-button-group">Button Group</a></li>
                    <li><a href="/ui-list-group">List Group</a></li>
                    <li><a href="/ui-card">Cards</a></li>
                    <li><a href="/ui-carousel">Carousel</a></li>
                    <li><a href="/ui-dropdown">Dropdown</a></li>
                    <li><a href="/ui-popover">Popover</a></li>
                    <li><a href="/ui-progressbar">Progressbar</a></li>
                    <li><a href="/ui-tab">Tab</a></li>
                    <li><a href="/ui-typography">Typography</a></li>
                    <li><a href="/ui-pagination">Pagination</a></li>
                    <li><a href="/ui-grid">Grid</a></li>

                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-heart"></i>
                    <span class="nav-text">Plugins</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/uc-select2">Select 2</a></li>
                    <li><a href="/uc-nestable">Nestedable</a></li>
                    <li><a href="/uc-noui-slider">Noui Slider</a></li>
                    <li><a href="/uc-sweetalert">Sweet Alert</a></li>
                    <li><a href="/uc-toastr">Toastr</a></li>
                    <li><a href="/map-jqvmap">Jqv Map</a></li>
                    <li><a href="/uc-lightgallery">Light Gallery</a></li>
                </ul>
            </li>
            <li><a href="widget-basic" class="" aria-expanded="false">
                    <i class="fas fa-user-check"></i>
                    <span class="nav-text">Widget</span>
                </a>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-file-alt"></i>
                    <span class="nav-text">Forms</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/form-element">Form Elements</a></li>
                    <li><a href="/form-wizard">Wizard</a></li>
                    <li><a href="/form-ckeditor">CkEditor</a></li>
                    <li><a href="/form-pickers">Pickers</a></li>
                    <li><a href="/form-validation">Form Validate</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-table"></i>
                    <span class="nav-text">Table</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/table-bootstrap-basic">Bootstrap</a></li>
                    <li><a href="/table-datatable-basic">Datatable</a></li>
                </ul>
            </li>
            <li><a class="has-arrow " href="javascript:void()" aria-expanded="false">
                    <i class="fas fa-clone"></i>
                    <span class="nav-text">Pages</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="/page-login">Login</a></li>
                    <li><a href="/page-register">Register</a></li>
                    <li><a class="has-arrow" href="javascript:void()" aria-expanded="false">Error</a>
                        <ul aria-expanded="false">
                            <li><a href="/page-error-400">Error 400</a></li>
                            <li><a href="/page-error-403">Error 403</a></li>
                            <li><a href="/page-error-404">Error 404</a></li>
                            <li><a href="/page-error-500">Error 500</a></li>
                            <li><a href="/page-error-503">Error 503</a></li>
                        </ul>
                    </li>
                    <li><a href="/page-lock-screen">Lock Screen</a></li>
                    <li><a href="/empty-page">Empty Page</a></li>
                </ul>
            </li>
        </ul>
        <div class="side-bar-profile">
            <div class="d-flex align-items-center justify-content-between mb-3">
                <div class="side-bar-profile-img">
                    <img src="images/user.jpg" alt="">
                </div>
                <div class="profile-info1">
                    <h4 class="fs-18 font-w500">Soeng Souy</h4>
                    <span>example@mail.com</span>
                </div>
                <div class="profile-button">
                    <i class="fas fa-caret-down scale5 text-light"></i>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-2 progress-info">
                <span class="fs-12"><i class="fas fa-star text-orange me-2"></i>Task Progress</span>
                <span class="fs-12">20/45</span>
            </div>
            <div class="progress default-progress">
                <div class="progress-bar bg-gradientf progress-animated" style="width: 45%; height:10px;"
                    role="progressbar">
                    <span class="sr-only">45% Complete</span>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p><strong>Fillow Saas Admin</strong> © 2021 All Rights Reserved</p>
            <p class="fs-12">Made with <span class="heart"></span> by DexignLabs</p>
        </div>
    </div>
</div>