<div class="dlabnav">
    <div class="dlabnav-scroll">
        <ul class="metismenu" >
            <li><a class="rounded active w-75 m-auto mb-3 " href="/home" >
                <i class="bi bi-house-door-fill text-white"></i>
                    <span class="nav-text text-white">ទំព័រដើម</span>
                </a>
            </li>
            <li><a class="rounded active bg-primary-light w-75 m-auto mb-3 text-white" href="/attendace" >
                <i class="bi bi-person-vcard text-primary"></i>
                    <span class="nav-text text-primary">វត្តមាន</span>
                </a>
            </li>
            <li><a class="rounded bg-primary-light w-75 m-auto mb-3 text-white" href="/create-employee" >
                <i class="bi bi-person-lines-fill text-primary"></i></i>
                    <span class="nav-text text-primary">ស្នើរច្បាប់</span>
                </a>
            </li>
            <li><a class="rounded bg-primary-light w-75 m-auto mb-3 text-white" href="/create-employee" >
                <i class="bi bi-clock text-primary" ></i>
                    <span class="nav-text text-primary">ថែមម៉ោង</span>
                </a>
            </li>
            <li><a class="rounded bg-primary-light w-75 m-auto mb-3 text-white" href="/create-employee" >
                <i class="bi bi-postcard text-primary"></i>
                    <span class="nav-text text-primary">ប្រាក់បៀវត្សន៍</span>
                </a>
            </li>
            <li><a class="rounded bg-primary-light w-75 m-auto mb-3 text-white" href="/create-employee" >
                <i class="bi bi-gear text-primary"></i>
                    <span class="nav-text text-primary">ការកំណត់</span>
                </a>
            </li>
            
        </li>
        </ul>
    </div>
</div>