.department .left-item .search,
.department .left-item .filter,
.department .left-item .created{
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
}


.department .left-item .search,
.ot .left-item .search{
    width: 250px;
    padding-left: 10px;
    padding-top: 2px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    border: none;
    /* border: 1px solid rgb(48, 47, 47); */
}

.department .left-item .filter{
    width: 100px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    /* border: 1px solid rgb(48, 47, 47); */
} 

.ot .left-item .filter,
.ot .left-item .created,
.ot .left-item .search{
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 35px;
    font-size: 16px;
    border-radius: 8px;
    display: flex;
   
}
.ot .left-item .filter{
    width: 100px;
    transition: .5s;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    /* border: 1px solid rgb(112, 255, 124); */
} 

.ot .left-item .created{
    cursor: pointer;
    width: 120px;
    background-color: rgb(106, 244, 78);;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}


.department .left-item .created{
    width: 100px;
    cursor: pointer;
    color: white;
    background-color: #3A86FF;
}

th,td{
    font-size: 16px;
}

 .card .card-body .icon-edit{
    color: #3A86FF;

}

.card .card-body .modal .form-control{
    border-radius: 10px;
    border: 1px solid rgb(124, 124, 124);
}

.card .card-body .modal .modal-footer button,
.modal-create .modal-footer button{
    /* height: 42px; */
    width: 150px;
    margin: auto;
    align-items: center;
    text-align: center;
    border-radius: 12px;
}

.card .card-body .style-modal .modal-footer button{
    width: 160px;
}

.card .card-body .style-modal .fa-circle-exclamation{
    color: rgb(179, 0, 0);
}

.card .card-body .modal .select .fa-chevron-down,
.modal-create .select .fa-chevron-down  {
    position: absolute;
    margin: auto;
    left: 90%;
    top: 60%;
    color: black;
    font-size: 15px;
}

.ot .shows .fa-chevron-down  {
    position: absolute;
    margin: auto;
    left: 55%;
    top: 18%;
    color: rgb(53, 52, 52);
    font-size: 12px;
}

.ot .shows .select-show {
    width: 60px;
    height: 30px;
    margin-top: -5px;
    padding-left: 12px;
    border-radius: 8px;
}

.card .card-body .amount .amount-position,
.modal-create .amount .amount-position {
    width: 28px;
    margin-top: 5px;
    height: 20px;
    padding: 2px 3px;
    align-items: center;
    text-align: center;
    font-size: 11px;
    border-radius: 10px;
    background-color: #ede4fc;
    color: #6941C6;
}

.card .amount-ot .amount-position{
    width: 65px;
    margin-top: 5px;
    height: 20px;
    padding: 2px 3px;
    align-items: center;
    text-align: center;
    font-size: 11px;
    border-radius: 10px;
    background-color: #ede4fc;
    color: #6941C6;
}

.card .card-body .approve{
    width: 70px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding-top: 4px;
    background-color: #88f24f;
}

.card .card-body .reject{
    width: 70px;
    height: 28px;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
    padding-top: 4px;
    background-color: rgb(247, 27, 27);
}

.card .card-body .deleted,
.card .card-body .edited,
.card .card-body .notification{
    width: 27px;
    height: 27px;
    position: relative;
    font-size: 13px;
    border-radius: 5px;
    background-color: #eacdcd;
}

.card .card-body .edited{
    background-color: #cdf4ba;
   
}

.card .card-body .notification{
    background-color: #c6d7f4;
}

.card .card-body .deleted i,
.card .card-body .edited i,
.card .card-body .notification i{
    position: absolute;
    top: 25%;
    left: 31%;
}

.pagination .next .page-link,
.pagination .previous .page-link{
    border: none;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.pagination .previous:hover .page-link{
    color: white;
}

.card .card-body .table .tr-head{
    border: none;
    background-color: #dde3f7;
}

.style-col-3:nth-child(1){
   
    border-left: 2px solid white;
    padding-left: 10px;
}
.style-col-3:nth-child(2){
   
    border-left: 2px solid white;
    padding-left: 20px;
}
.style-col-3:nth-child(3){
   
    border-left: 2px solid white;
    padding-left: 17px;
}


/* Pheak */

.badge {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    margin-top: 12px;
    margin-right: 18px;
    font-size: 8px !important;
    padding-top: 1px !important;

}

.bi-icon {
    font-size: 25px !important;
}

/* .form-control{
    width: 300px !important;
    height: 45px !important;
} */
.btn-style {
    width: 90px;
    height: 40px;
    border-radius: 5px;

}

/* page view profile */
.form-control {
    border: 1px solid #ddd;
}


.pieContainer {
    height: 150px;
    position: relative;
}

.pieBackground {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.pie {
    transition: all 1s;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 75px, 150px, 0px);
}

.hold {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    clip: rect(0px, 150px, 150px, 75px);
}
#pieSlice1{
    transform: rotate(-230deg);
}
#pieSlice1 .pie {
    background-color: #ea3333;
    transform: rotate(50deg);
}
#pieSlice2{
    transform: rotate(190deg);

}
#pieSlice2 .pie {
    background-color: #0a0;
    transform: rotate(200deg);
}

#pieSlice3 {
    transform: rotate(50deg);
}

#pieSlice3 .pie {
    background-color: #fdd927;
    transform: rotate(50deg);
}

#pieSlice4 {
    transform: rotate(100deg);
}
#pieSlice4 .pie {
    background-color: #08f;
    transform: rotate(30deg);
}
.margin-button{
    margin-top:80% !important;
    /* margin: auto; */
}

.bi-person-workspace{
  padding: 2px;
  border-radius: 10px;
   background-color: rgba(0, 170, 0, 0.246);
   color: #fff;
 
}
.action-style{
    width: 80px;
    height: 23px;
    font-size: 14px;
    background-color: rgba(101, 247, 101, 0.181);
    color: #0a0;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}
.action-style i{
    font-size: 8px !important;
} 