.badge {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100%;
    margin-top: 12px;
    margin-right: 18px;
    font-size: 8px !important;
    padding-top: 1px !important;
    
}
.bi-icon{
    font-size: 25px !important;
}
/* .form-control{
    width: 300px !important;
    height: 45px !important;
} */
.btn-style{
    width: 90px;
    height: 40px;
    border-radius: 5px;

}
/* page view profile */
.form-control{
    border:  1px solid #ddd;
}