<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <meta name="robots" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:title" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:description" content="Fillow : Fillow Saas Admin  Bootstrap 5 Template">
    <meta property="og:image" content="https://fillow.dexignlab.com/xhtml/social-image.png">
    <meta name="format-detection" content="telephone=no">

    <!-- PAGE TITLE HERE -->
    <title>Admin Dashboard</title>

    <!-- FAVICONS ICON -->
    <link rel="shortcut icon" type="image/png" href="images/favicon.png">
    <link href="css/style.css" rel="stylesheet">

    <script src="vendor/sweetalert2/dist/sweetalert2@11.js"></script>

    <!-- <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <style>
        .authincation .img {
            width: 1320px;
            height: 762px;
            z-index: -1;
            /* object-fit: cover; */
        }

        .icon {
            width: 25px;
            height: 15px;
            /* background-color: brown; */
            border-right: 1px solid rgb(240, 240, 248);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #00000086;
            margin-left: 6px;
            font-weight: 500;
            /* border-radius: 6px;  */
        }

        .form-control {
            padding-left: 38px !important;
        }
    </style>
</head>

<body class="vh-100">
    <div class="authincation h-100">
        <div class="container h-100 position-relative">
            <img src="images/login-img.png" class="img position-absolute " alt="">
            <div class="row  h-100 align-items-center">
                <div class="col-md-6">
                    <div class="">
                        <div class="row ">
                            <div class="col-xl-12">
                                <div class="auth-form">
                                    <div class="text-center mb-3">
                                        <a href=""><img src="images/logo-EduVision.png" alt="" class="w-75 mb-3"></a>
                                    </div>
                                    <h4 class="text-center mb-4 fs-2 fw-bold">ចូលគណនី</h4>
                                    <form id="loginForm">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>អុីម៉ែល</strong></label>
                                            <div class="d-flex align-items-center ">
                                                <i class="bi bi-envelope position-absolute icon "></i>
                                                <input type="text" id="email" class="form-control ">

                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>លេខសម្ងាត់</strong></label>
                                            <div class="d-flex align-items-center ">
                                                <i class="bi bi-lock position-absolute icon "></i>
                                                <input type="password" id="password" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row d-flex justify-content-between mt-4 mb-2">
                                            <div class="mb-3">
                                                <div class="form-check custom-checkbox ms-1">
                                                    <input type="checkbox" class="form-check-input"
                                                        id="basic_checkbox_1">
                                                    <label class="form-check-label" for="basic_checkbox_1">
                                                        ចងចំាខ្ញុំ</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" style="cursor: pointer;"
                                                class="btn btn-primary btn-block">ចូលគណនី</button>

                                        </div>
                                    </form>
                                    <!-- <div class="new-account mt-3">
                                        <p>Don't have an account? <a class="text-primary" href="page-register.html">Sign up</a></p>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <img src="images/login-img-2.png" class="img object-fit-cover w-100 h-100" alt="">

                </div>
            </div>
            <!-- <div class="row justify-content-center h-100 align-items-center">
                <div class="col-md-6">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a href="index.html"><img src="images/logo-full.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Sign in your account</h4>
                                    <form action="index.html">
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" class="form-control" value="hello@example.com">
                                        </div>
                                        <div class="mb-3">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" class="form-control" value="Password">
                                        </div>
                                        <div class="row d-flex justify-content-between mt-4 mb-2">
                                            <div class="mb-3">
                                               <div class="form-check custom-checkbox ms-1">
													<input type="checkbox" class="form-check-input" id="basic_checkbox_1">
													<label class="form-check-label" for="basic_checkbox_1">Remember my preference</label>
												</div>
                                            </div>
                                            <div class="mb-3">
                                                <a href="page-forgot-password.html">Forgot Password?</a>
                                            </div>
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary btn-block">Sign Me In</button>
                                        </div>
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Don't have an account? <a class="text-primary" href="page-register.html">Sign up</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
 
    <script src="/js/auth/auth.js"></script>
    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="vendor/global/global.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/dlabnav-init.js"></script>
    <script src="js/styleSwitcher.js"></script>
</body>

</html>