<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <link rel="stylesheet" href="../manifest.json">
    <title>Document</title>
</head>

<body>
    <section class="homepage-container position-relative d-flex flex-column align-items-center justify-content-center">
        <header class="mobile-header d-flex justify-content-between align-items-center px-3">
            <p class="m-0 fw-semibold text-white">Edu Vision</p>
            <div class="d-flex gap-2">
                <a href="#" class="img-icon">
                    <img src="/icons/mobile/notification.png" class="w-100 h-100 object-fit-cover" alt="">
                </a>
                <a href="#" class="img-icon" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop">
                    <img src="/icons/mobile/menu-bar.png" class="w-100 h-100 object-fit-cover" alt="">
                </a>
            </div>
        </header>
        <div class="back-frame position-absolute"></div>
        <main class="homepage-main px-3">
            <section class="main-info mb-4 p-4">
                <div class="time-info">
                    <div class="row">
                        <div class="col-7">
                            <h2 class="mb-1 fs-2 fw-semibold name">សាន ប៊ុនធឿន</h2>
                            <h5 class="mb-2">ID: 00793829</h5>
                            <div class="current-time d-flex gap-2">
                                <div class="img-icon">
                                    <img src="/icons/mobile/time.png" class="w-100 h-100 object-fit-cover" alt="">
                                </div>
                                <h2 class="fw-semibold" id="current-time">09:03:45</h2>
                            </div>
                            <span>អ្នកមិនទាន់ស្កេនចូលធ្វើការនៅឡើយទេ!!</span>
                        </div>
                        <div class="col-5 d-flex justify-content-center">
                            <div class="home-profile overflow-hidden">
                                <img src="/images/avatar/sample-profile.png" alt=""
                                    class="w-100 h-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-scan d-flex justify-content-between gap-3 mt-3">
                    <a href="/user/scanner" class="btn btn-checkin px-3" id="btn-checkin">Check In</a>
                    <a href="/user/scanner" class="btn btn-checkout px-3" id="btn-checkout">Check Out</a>
                </div>
            </section>
            <section class="mobile-setting">
                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasTopLabel">Offcanvas top</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        ...
                    </div>
                </div>
            </section>
            <section class="main-menu">
                <div class="row g-3">
                    <div class="col-6">
                        <a href="#" class="menu-box">
                            <div class="menu-icon">
                                <img src="/icons/mobile/attendance.png" class="w-100 h-100 object-fit-cover" alt="">
                            </div>
                            <h4 class="menu-title mb-0">វត្តមាន</h4>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="menu-box">
                            <div class="menu-icon">
                                <img src="/icons/mobile/leave.png" class="w-100 h-100 object-fit-cover" alt="">
                            </div>
                            <h4 class="menu-title mb-0">សុំច្បាប់</h4>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="menu-box">
                            <div class="menu-icon">
                                <img src="/icons/mobile/overtime.png" class="w-100 h-100 object-fit-cover" alt="">
                            </div>
                            <h4 class="menu-title mb-0">ថែមម៉ោង</h4>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="menu-box">
                            <div class="menu-icon d-flex align-items-center">
                                <img src="/icons/mobile/payroll.png" class="w-100" alt="">
                            </div>
                            <h4 class="menu-title mb-0">ប្រាក់បៀវត្សន៍</h4>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="menu-box">
                            <div class="menu-icon">
                                <img src="/icons/mobile/performance.png" class="w-100 h-100 object-fit-cover" alt="">
                            </div>
                            <h4 class="menu-title mb-0">ផលិតភាព</h4>
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#" class="menu-box">
                            <div class="menu-icon">
                                <img src="/icons/mobile/option.png" class="w-100 h-100 object-fit-cover" alt="">
                            </div>
                            <h4 class="menu-title mb-0">ការកំណត់</h4>
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </section>
</body>
<script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="../service-worker.js"></script>
<script>
    function updateTime() {
        const now = new Date();
        const hours = String(now.getHours()).padStart(2, '0');
        const minutes = String(now.getMinutes()).padStart(2, '0');
        const seconds = String(now.getSeconds()).padStart(2, '0');

        const currentTime = `${hours}:${minutes}:${seconds}`;
        document.getElementById("current-time").textContent = currentTime;

        if (now.getHours() >= 17 && now.getHours() <= 18) {
            document.getElementById("btn-checkout").classList.add("disabled");
            document.getElementById("btn-checkin").classList.remove("disabled");
        }
        else {
            document.getElementById("btn-checkin").classList.add("disabled");
            document.getElementById("btn-checkout").classList.remove("disabled");
        }
    }
    setInterval(updateTime, 1000);
    updateTime();

    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/service-worker.js')
            .then(reg => console.log("Service Worker Registered!", reg))
            .catch(err => console.log("Service Worker Registration Failed!", err));
    }
</script>
</script>

</html>