<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mobile.css">
    <title>Document</title>
</head>

<body>
    <section class="qr-container position-relative d-flex flex-column align-items-center justify-content-center">
        <div class="scan-header d-flex justify-content-between px-4 position-absolute top-0">
            <a href="/user/homepage" class="img-icon">
                <img src="/icons/mobile/cancel.png" style="transform: scale(0.75);"
                    class="w-100 h-100 object-fit-cover">
            </a>
            <div class="d-flex gap-3">
                <div class="img-icon">
                    <img src="/icons/mobile/flash-light.png" alt="Qr Code Icon">
                </div>
                <div class="img-icon">
                    <img src="/icons/mobile/gear.png" alt="Qr Code Icon" class="w-100 h-100 object-fit-cover">
                </div>

            </div>
        </div>
        <h1 id="reader" width="100vw" height="100vh"></h1>
    </section>
</body>
<script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<script src="/vendor/html5-qrcode/html5-qrcode.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/attendance.js"></script>

</html>